[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = ">=1.5,<2.0"
mkdocs-techdocs-core = "*"
pymdown-extensions = "*"

[dev-packages]

[requires]
python_version = "3.10"
